.processOrder {
  margin: 20px;
  color: #08376b;
}
.table th {
  font-size: 13px;
}
.table td {
  font-size: 12px;
}
.top-tabel {
  display: flex;
  align-items: center;
  margin: 4px;
}
.form-control {
  width: 10%;
  margin: 8px;
}
.no-data {
  font-style: italic;
  padding: 10px;
  text-align: center;
  float: center;
}
