.list-order {
  margin: 20px;
  color: #08376b;
}
.cardi {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 12px;
  margin-top: 20px;
  margin-bottom: auto;
}
.dropdown {
  float: right;
  background: #08376b;
  padding: 3px 15px;
  border-radius: 4px;
  border-style: none;
  color: #fafafa;
}
.dropdown button {
  color: #fafafa;
  font-size: 12px;
}
.dropdown-item {
  color: #08376b;
}

button:hover {
  color: #fafafa;
}
.dropdown-item {
  color: #08376b;
  font-size: 12px;
}
.card-text {
  font-size: 12px;
  margin: auto;
  margin-left: 7px;
}
.btn-listorder {
  margin: 8px 6px;
}
.button-one {
  color: #fafafa;
  background: #08376b;
  padding: 5px 15px;
  font-size: 12px;
  border-style: none;
  border-radius: 4px;
  margin: 6px;
}
.button-one:hover {
  color: #35c0ed;
}
.button-second {
  color: #fafafa;
  background: #35c0ed;
  padding: 5px 15px;
  font-size: 12px;
  border-style: none;
  border-radius: 4px;
  margin: 6px;
}
.button-second:hover {
  color: #08376b;
}
