.header {
  width: auto;
  background-color: #f5f5f5;
}
.navbar {
  background-color: #f5f5f5;
  margin-bottom: 40px;
  height: 9vh;
  align-items: center;
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.1),
    0px 0px 19px 14px rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
}
.text-nama {
  align-items: center;
  padding: 4px;
}
