.side {
  display: flex;
  width: 100%;
}
.sidebar {
  background: #08376b;
  color: #fff;
  min-height: 100vh;
  width: 280px;
  transition: all 0.5s;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 15px 15px;
  margin-bottom: 20px;
}
.logo {
  width: 70%;
}
.bars {
  display: flex;
  font-size: 20px;
  margin-left: 30px;
}
.link {
  display: flex;
  color: #fff;
  padding: 15px 20px;
  gap: 20px;
  align-items: center;
  transition: all 0.5s;
}
.link:hover {
  background: #f5f5f5;
  color: #35c0ed;
  transition: all 0.5s;
}
.active {
  background: #f5f5f5;
  color: #35c0ed;
}
.icon,
.link_text {
  font-size: 12px;
}
